html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Bebas Neue", sans-serif; */
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 250px;
}

/*********************************************************** Шапка *************************************************************/

header {
  background-image: url(../img/bg.jpg);
  width: 100%;
  /* min-width: 1440px; */
  height: 769px;
  background-repeat: no-repeat;
  background-size: 1550px 769px;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.header-img {
  width: 100%;
  height: auto;
  display: block;
}

.main-page {
  height: 690px;
}
.logo-header {
  display: flex;
  width: 101.618px;
  height: 23px;
  margin: 0 auto;
  margin-bottom: 300px;
}
.header-h1 {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.709px;
  color: #fff;
  margin: 0 auto;
  padding-left: 10px;
  padding-top: 6px;
}
.header-p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  margin-bottom: 214px;
}
.header-button {
  text-align: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.7px;
  border: none;
  background-color: #ffffff00;
  text-transform: uppercase;
  cursor: pointer;
}
.header-button:hover {
  color: #e500a0;
}

/*********************************************************** Навигация *************************************************************/

.navbar {
  margin-top: 19px;
  margin-bottom: 76px;
}
.menu_inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 4px;
}
.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #48555b;
}

.nav li a {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.091px;
  color: #48555b;
  text-decoration: none;
}

.nav li a:hover {
  color: #00a4e5;
}
.nav li:nth-child(2) a {
  padding-left: 48px;
}

.nav li:nth-child(3) a {
  padding-left: 43px;
}
.nav li:nth-child(4) a {
  padding-left: 37px;
}

.nav li:nth-child(5) a {
  padding-left: 29px;
}

/*********************************************************** Our Story *************************************************************/

.our_story {
  margin: 0 auto;
  margin-bottom: 118px;
}
.story_text {
  margin: 0 auto;
}
.line {
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}
.story_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.story-h2 {
  color: #48555b;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.306px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.story_block_left {
}
.story-p-top {
  color: #48555b;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.188px;
  max-width: 405.076px;
  margin-bottom: 32px;
}
.story-p-bottom {
  color: #48555b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
  max-width: 405.076px;
  margin: 0;
}
.Konstruct {
  color: #00a4e5;
}

.story_block_right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}
.h2-story_block_right {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 29px; /* 120.833% */
  letter-spacing: 0.188px;
  text-transform: uppercase;
  width: 140px;
  height: 224px;
  margin: 0;
}

.story_block_right h2:first-child {
  background-image: url(../img/plan.jpg);
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 12px;
}
.story_block_right h2:nth-child(2) {
  background-image: url(../img/manage.jpg);
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 12px;
}
.story_block_right h2:nth-child(3) {
  background-image: url(../img/Bitmap.jpg);
  padding-top: 16px;
  padding-left: 14px;
  padding-right: 12px;
}

/*********************************************************** Our Capabilities *************************************************************/

.Our-Capabilities {
  margin-bottom: 113px;
}
.Box__Our-Capabilities {
  display: flex;
  flex-wrap: wrap;
  gap: 155px;
  margin-bottom: 78px;
}
.Left-Our-Capabilities {
}

.h2-capabilities {
  color: #48555b;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.306px;
  text-transform: uppercase;
  margin: 0;
}
.line-capabilities {
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  display: block;
  margin-top: 9px;
}
.Right-Our-Capabilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.p-Our-Capabilities {
  color: #48555b;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 172.727% */
  letter-spacing: 0.2px;
  margin: 0;
  max-width: 405.404px;
  max-height: 38px;
  gap: 20px;
}
.button-Our-Capabilities {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  background-color: #00a4e5;
  border: none;
  width: 150px;
  height: 40px;
  padding: 0;
  cursor: pointer;
}
.button-Our-Capabilities:hover {
  background-color: #e500a0;
}
/* Our-Capabilities-bottom */
.Our-Capabilities-bottom {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
.Our-Capabilities-bottom-items {
  width: 295px;
  height: 330px;
  border: 1px solid #e6e6e6;
  background: #fff;
  padding-left: 23px;
  padding-top: 35px;
}
.Our-Capabilities-bottom-image {
  margin-bottom: 8px;
}

.h2-project {
  width: 250px;
  height: 48px;
  color: #48555b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.427px;
  text-transform: uppercase;
}
.p-project {
  color: #48555b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
  width: 250px;
  height: 92px;
}

/*********************************************************** Want *************************************************************/

.want {
}
.want-top {
  background-image: url(../img/bg-footter.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  /* max-width: 1440px; */
  background-size: 1550px 501px;
  height: 498.24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.want-top_h2 {
  color: #48555b;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  letter-spacing: 0.15px;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 35px;
}
.want-top_button {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  background-color: #00a4e5;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.want-top_button:hover {
  background-color: #e500a0;
}
.want-bottom-background {
  background-color: #141a20;
}
.want-bottom {
  height: 100px;
  margin: 0 auto;
}

.want-bottom-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-top: 30px;
}
.want-bottom_h2 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.846px;
  margin: 0;
}
.form {
  width: 250px;
  height: 40px;
  border: 1px solid #979797;
  background: #fff;
}
.email-input {
  width: 250px;
  height: 40px;
  margin: 0;
  padding: 0;
  float: left;
  color: #48555b;
  font-family: OpenSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.07px;
  padding-left: 15px;
}
input:focus,
textarea:focus,
select:focus {
  border-color: #00a4e5;
  outline: none;
}
.submit-button {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  background-color: #00a4e5;
  width: 150px;
  height: 40px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
.submit-button:hover {
  background-color: #e500a0;
}

/*********************************************************** footer *************************************************************/

.footer-1 {
  background-color: #141a20;
  height: 100%;
  min-height: 240px;
  margin: 0;
  padding-top: 40px;
}
.flex-big-blok {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.company {
}
.h3-company {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.img-company {
  margin-bottom: 10px;
  width: 101.618px;
  height: 23px;
  margin-bottom: 10px;
}
.p-company {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 172.727% */
  letter-spacing: 0.85px;
  line-height: 19px;
  width: 250px;
  margin: 0;
}
.links {
  color: #fff;
  width: 262px;
  margin-left: 70px;
}
.links-flex {
  display: flex;

  text-transform: uppercase;
}
.links-flex ul {
  list-style-type: none;
  padding: 0;
}
.links-flex a {
  text-decoration: none;
  color: #fff;
}

.h3-links {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}
.nav-links-1 {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 227.273% */
  letter-spacing: 0.846px;
  text-decoration: none;
  margin: 0;
}

.nav-links-2 {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 227.273% */
  letter-spacing: 0.846px;
  margin: 0;
  margin-left: 34px;
}
.nav-links-3 {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 227.273% */
  letter-spacing: 0.846px;
  margin: 0;
  margin-left: 37px;
}
.nav-links-1 li a:hover {
  color: #e500a0;
}
.nav-links-2 li a:hover {
  color: #e500a0;
}
.nav-links-3 li a:hover {
  color: #e500a0;
}
.contact_us {
  display: flex;

  flex-direction: column;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
  margin-left: 58px;
}
.h3-contact {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}
.p-contact {
  margin: 0;
  margin-bottom: 19px;
}
.p-tel {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
  margin: 0;
  margin-bottom: 18px;
}
.p-mail {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
  margin: 0;
}
.social_links {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  width: 12.044px;
  height: 12.044px;
  margin-left: 69px;
  margin-top: 30px;
  cursor: pointer;
}
.social_links img {
  filter: brightness(0) invert(1);
}

.footer-2 {
  text-align: center;
  background-color: #171819;
  height: 80px;
  padding-top: 20px;
}
.footer-2-p {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
  margin: 0 auto;
}
/*********************************************************** media *************************************************************/
@media screen and (max-width: 1450px) {
  .container {
    padding: 0 30px;
  }
  .Box__Our-Capabilities {
    gap: 10px;
  }
  .story_block {
    justify-content: center;
  }
  .story-p-bottom {
    margin-bottom: 20px;
  }
  .want-bottom-items {
    gap: 10px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 1240px) {
  .links,
  .contact_us,
  .social_links {
    margin-left: 0px;
    justify-content: center;
  }
  .links-flex {
    justify-content: space-between;
  }
  .nav-links-2,
  .nav-links-3 {
    margin-left: 0px;
  }
  .p-company {
    margin-bottom: 30px;
  }
  .flex-big-blok {
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Уменьшаем количество колонок до 3 */
    grid-template-rows: auto auto; /* Добавляем новую строку для social_links */
  }
  .social_links {
    grid-column: 1 / -1; /* Занимает всю ширину строки */
    justify-content: center; /* Выравнивание по центру */
    margin-left: 0; /* Убираем отступ слева */
    margin-top: 20px; /* Добавляем отступ сверху */
  }
}
@media screen and (max-width: 1150px) {
  .Our-Capabilities-bottom {
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu_inner {
    flex-wrap: wrap;
  }
  .story_block_right {
    justify-content: center;
  }
}
@media screen and (max-width: 990px) {
  .flex-big-blok {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
  .contact_us {
    grid-column: 1 / -1;
  }
  .menu_inner {
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 20px;
  }
  .Box__Our-Capabilities,
  .Right-Our-Capabilities {
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .flex-big-blok {
    grid-template-columns: 1fr; /* Один столбец для company */
    grid-template-rows: auto auto; /* Два ряда: один для company, второй для остальных блоков */
  }
  .h3-links {
    text-align: center;
  }
  .company {
    grid-column: 1 / -1; /* Занимает всю ширину строки */
    margin-bottom: 20px; /* Отступ снизу для блока company */
  }

  .contact_us,
  .links {
    grid-column: span 1; /* Каждый из этих блоков занимает одну колонку */
  }

  .contact_us {
    margin-right: 10px; /* Добавляем отступ справа между контактами и ссылками */
  }
}

@media screen and (max-width: 540px) {
  .menu_inner {
    flex-direction: column;
    align-items: center;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-bottom: 20px;
  }
  .nav li:nth-child(2) a {
    padding-left: 0px;
  }
  .nav li:nth-child(3) a {
    padding-left: 0px;
  }
  .nav li:nth-child(4) a {
    padding-left: 0px;
  }
  .nav li:nth-child(5) a {
    padding-left: 0px;
  }
  .email-input {
    max-width: 250px;
  }
  .company {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 440px) {
  .form__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Добавляем отступ между email и submit */
  }

  .email-input,
  .submit-button {
    width: 100%; /* Занимает всю ширину контейнера */
    max-width: 300px; /* Ограничиваем максимальную ширину */
  }

  .email-input {
    margin-bottom: 10px; /* Отступ между полем email и кнопкой */
  }
}
