html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Bebas Neue", sans-serif; */
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 250px;
}

/*********************************************************** Шапка *************************************************************/
header {
  background-image: url(../img/bg.jpg);
  min-width: 1440px;
  height: 769px;
  background-repeat: no-repeat;
  background-size: 1550px 769px;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.header-img {
  width: 100%;
  height: auto;
  display: block;
}

.main-page {
  height: 690px;
}
.logo-header {
  display: flex;
  width: 101.618px;
  height: 23px;
  margin: 0 auto;
  margin-bottom: 300px;
}
.header-h1 {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.709px;
  color: #fff;
  margin: 0 auto;
  padding-left: 10px;
  padding-top: 6px;
  height: 77px;
}
.header-p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  margin-bottom: 214px;
}
.header-button {
  text-align: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.7px;
  border: none;
  background-color: #ffffff00;
  text-transform: uppercase;
}

/*********************************************************** Навигация *************************************************************/

.navbar {
  margin-top: 19px;
  margin-bottom: 76px;
}
.menu_inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 4px;
}
.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #48555b;
}

.nav li a {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.091px;
  color: #48555b;
  text-decoration: none;
}

.nav li a:hover {
  color: #00a4e5;
}
.nav li:nth-child(2) a {
  padding-left: 48px;
}

.nav li:nth-child(3) a {
  padding-left: 43px;
}
.nav li:nth-child(4) a {
  padding-left: 37px;
}

.nav li:nth-child(5) a {
  padding-left: 29px;
}

/*********************************************************** Our Story *************************************************************/

.our_story {
  margin: 0 auto;
}
.story_text {
  margin: 0 auto;
}
.line {
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}
.story_block {
  display: flex;
  justify-content: space-between;
}

.story-h2 {
  color: #48555b;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.306px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.story_block_left {
}
.story-p-top {
  color: #48555b;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.188px;
  width: 405.076px;
  margin-bottom: 32px;
}
.story-p-bottom {
  color: #48555b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
  width: 405.076px;
  margin: 0;
}
.Konstruct {
  color: #00a4e5;
}

.story_block_right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}
.h2-story_block_right {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 29px; /* 120.833% */
  letter-spacing: 0.188px;
  text-transform: uppercase;
  width: 140px;
  height: 224px;
  margin: 0;
}

.story_block_right h2:first-child {
  background-image: url(../img/plan.jpg);
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 12px;
}
.story_block_right h2:nth-child(2) {
  background-image: url(../img/manage.jpg);
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 12px;
}
.story_block_right h2:nth-child(3) {
  background-image: url(../img/Bitmap.jpg);
  padding-top: 16px;
  padding-left: 14px;
  padding-right: 12px;
}
